body {
    font-family: 'Open Sans', Verdana, Geneva, sans-serif;
    background-color: rgb(214, 214, 214);
    margin: 0;
    font: 1.5em;
}

.axis path,
.axis {
    fill: none;
    stroke: #000;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}
.axis-label {
    font-size: 10px;
}
.axis text {
    font-size: 10px;
    fill: #000;
    stroke-width: 0px;
}

.point {
    fill: #3D9AD1;
}

.line-graph {
    fill: none;
    stroke: #3D9AD1;
    stroke-width: 2px;
}

.arc path{
    stroke: black;
}

/* DIVs */
.divider {
    height: 1px;
    background-color: #AAA;
}

#container {
    width: 100%;
    height: 98%;
}


/* Titles */
#title-top {
    background-color: #fff;
    background-image: -webkit-linear-gradient(top, #fff,#eee);
    width: 100%;
    height: 50px;
    display: block;
    border-bottom: 1px solid #aaa;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}
#top-logo {
    float: left;
    background-image: url('https://www.edx.org/static/images/header-logo.png');
    width: 64px;
    height: 31px;
    margin-top: 10px;
    margin-left: 50px;
}
#top-text {
    float: left;
    font-weight: bold;
    color: #145D88;
    margin: 17 0 0 50;
}
#top-week {
    float: right;
    color: #4695C3;
    margin: 17 50 0 50;
}

.activity-title {
    width: 100%;
    text-align: center;
    color: #333;
    padding-top: 10px;
    background-color: #EEE;
    border: 1px solid #aaa;
    border-bottom: 0px; 
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}
#activity-week .activity-title {
    /*width: calc(100%-1px);*/
}

.small-multiple-title,
.small-multiple-title-second {
    padding-top: 2%;
    /*padding-left: 4%;*/
    width: 100%;
    /*overflow: hidden;*/
}
.small-multiple-title .left {
    text-align: center;
    color: #333;
    padding-bottom: 4px;
}
.small-multiple-title .right,
.small-multiple-title-second .right {
    width: 100%;
    padding-top: 4px;
    text-align: center;
    color: #666;
    font-size: 10pt;

    background-color: #EEE;
    border: 1px solid #aaa;
    border-bottom: 0px; 
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

/* Activity */
#container-upper {
    width: 100%;
    height: 75%;
}
#container-activity-overall {
    width: 100%;
    height: 15%;
}
#container-multiple {
    float: left;
    width: 77%;
    height: 85%;
    margin-top: 1%;
}
#activity-week {
    float: left;
    width: 20%;
    height: 100%;
    padding-top: 1%;
    padding-left: 1.5%;
    margin-right: 1%;
}
#activity-overall {
    width: 97%;
    height: 100%;
    margin-left: 1.5%;
    margin-right: 1.5%;
}

#activity-week-container {
    height: 90%;
    width: 100%;
    overflow: hidden;

    background-color: #EEE;
    border: 1px solid #aaa;
    border-top: 0px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}
#activity-overall-container {
    height: 90%;
}

/* Multiples */
.small-multiple {
    float: left;
    width: 32%;
    padding-left: 1%;
}
.fixed-multiple {
    height: 40%;
    margin-bottom: 2%;
}
.top-multiple {
    height: 40%;
}
.down-multiple {
    /*background-color: #555;*/
    height: 20%;
    padding-top: 1%;
    padding-left: 1%;
}
.down {
    background-color: #c3c3c3;
    float: left;
    width: 45%;
    height: 65%;
    padding: 1% 1.5% 1% 1%;
    margin: 1%;
}

.down.active,
.down.active:hover {
    background-color: #8EC6E8;
}
.down:hover {
    background-color: #cccccc;
    cursor: pointer;
}
.down svg {
    background-color: #EEE;
    border: 1px solid #aaa;
    border-top: 0px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}


/* SVGs */

svg#overall-activity-line-graph,
svg.top-svg,
svg.stacked-bar-graph {
    background-color: #EEE;
    border: 1px solid #aaa;
    border-top: 0px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}
svg#week-activity-stacked-bar-graph {
    border: 0px;
}

svg {
    width: 100%;
    height: 100%;
}

/* Tooltip */
#special-tooltip {
    width: 150px;
    background-color: #8EC6E8;
    opacity: 0.8;
    padding: 5px;
    font-size: 12px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

