body {
    font: 10px sans-serif;
    background-color: #DDD;
}

.axis path,
.axis {
    fill: none;
    stroke: #000;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}
.axis-label {
    font: 10px sans-serif;
}
.axis text {
    font: 10px sans-serif;
    fill: #000;
    stroke-width: 0px;
}

.point {
    fill: #3D9AD1;
}

.line-graph {
    fill: none;
    stroke: #3D9AD1;
    stroke-width: 2px;
}

.arc path{
    stroke: black;
}

/* DIVs */
.divider {
    height: 1px;
    background-color: #AAA;
    margin: 30 0 20 0;
}

#container {
    width: 100%;
    overflow: hidden;
}
#title-top {
    /*background-color: #8EC6E8;*/
    color: #145D88;
    width: 100%;
    font-size: 7em;
    display: block;
    margin: 10 0 0 10;
    /*position: fixed;*/
}
#title-weekActivity,
#title-overallActivity,
#title-multiples {
    /*background-color: #8EC6E8;*/
    color: #3D9AD1;
    width: 100%;
    font-size: 3em;
    margin: 10 0 10 10;
}
.multiples-title {
    color: #3D9AD1;
    font-size: 2em;
    text-align: center;
    margin-bottom: 10px;
}

#container-activity,
#container-multiples {
    float: left;
    width: 48%;
    padding: 10px;
    /*margin-top: 100px;*/
    /*position: fixed;*/
}


div.multiples {
    background-color: #EEE;
    border-style: solid;
    border-width: 1px;
    border-color: #AAA;
    margin: 0 0 20 0;
    overflow: hidden;
    padding-top: 15px;
}
div.multiples-pie {
    float: left;
    width: 45%;
    padding-top: 20px;
}
div.multiples-line {
    float: left;
    width: 50%;
}
div.multiples-bar {
    width: 100%;
}

/* SVGs */
svg#week-activity-line-graph {
    background-color: #EEE;
    border-style: solid;
    border-width: 1px;
    border-color: #AAA;
    margin-bottom: 10px;
}

svg#overall-activity-line-graph {
    background-color: #EEE;
    border-style: solid;
    border-width: 1px;
    border-color: #AAA;
}

svg g.arc path.arc-path-Submitted {
    fill: #3D9AD1 !important;
}
svg g.arc path.arc-path-Attempted {
    fill: #FFCC40 !important;
}
svg g.arc path.arc-path-Non-started {
    fill: #FF6E40 !important;
}